nifi_example/01_load.json
{"flowContents":{"identifier":"1c382d36-49f8-3224-a9f4-0fa79e81f7af","instanceIdentifier":"78048166-eaa4-3a91-adc5-5da6cba601d9","name":"01_load","comments":"","position":{"x":200.0,"y":0.0},"processGroups":[{"identifier":"0aae6a0e-3ca5-3667-8e56-c68407427536","instanceIdentifier":"c51c0580-1c64-3fec-705c-9211a959634b","name":"01_source_files_load","comments":"","position":{"x":224.0,"y":-16.0},"processGroups":[{"identifier":"d7e8ba97-2e27-39ea-b1b9-e653d75526e1","instanceIdentifier":"66fca7ac-7958-365e-48c4-a68d341d8d67","name":"02_mss","comments":"","position":{"x":208.0,"y":272.0},"processGroups":[{"identifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3","instanceIdentifier":"3953303e-84a5-1f09-0c55-82ce7401a821","name":"01_mss_files","comments":"","position":{"x":208.0,"y":40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","instanceIdentifier":"39533040-84a5-1f09-7a21-c4cf59b4e15a","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"${file_path_base}/${source_name}/${objects_folder}","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"},{"identifier":"0515a9ed-4447-3131-8c95-a649dac0a216","instanceIdentifier":"39533042-84a5-1f09-4952-71e537ce076e","name":"CompressContent","comments":"","position":{"x":216.0,"y":200.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"39533041-84a5-1f09-4d7f-a3ca0d96ab7d","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${objects_folder}${path}${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76e0347b-2bfd-372d-8e34-7eeca838b057","instanceIdentifier":"39533043-84a5-1f09-3c21-a50fbe75c4d0","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"CompressContent","comments":"","instanceIdentifier":"39533042-84a5-1f09-4952-71e537ce076e"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"PutS3Object","comments":"","instanceIdentifier":"39533041-84a5-1f09-4d7f-a3ca0d96ab7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"39533044-84a5-1f09-5de5-e349723c0ec4","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"PutS3Object","comments":"","instanceIdentifier":"39533041-84a5-1f09-4d7f-a3ca0d96ab7d"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"Funnel","comments":"","instanceIdentifier":"3953303f-84a5-1f09-3a3e-9f7db018503f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"},{"identifier":"5734419e-80c5-3f43-9ed8-cdcd88212512","instanceIdentifier":"39533045-84a5-1f09-3700-d333d560855b","name":"","source":{"id":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"GetFile","comments":"","instanceIdentifier":"39533040-84a5-1f09-7a21-c4cf59b4e15a"},"destination":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"CompressContent","comments":"","instanceIdentifier":"39533042-84a5-1f09-4952-71e537ce076e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"},{"identifier":"b8126b31-60e1-38e9-bf1e-f6efa995b294","instanceIdentifier":"39533046-84a5-1f09-e848-cc5b19863792","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"CompressContent","comments":"","instanceIdentifier":"39533042-84a5-1f09-4952-71e537ce076e"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"560ba935-13c3-3323-a567-e1ad4eec0dd3","name":"Funnel","comments":"","instanceIdentifier":"3953303f-84a5-1f09-3a3e-9f7db018503f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"3953303f-84a5-1f09-3a3e-9f7db018503f","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"560ba935-13c3-3323-a567-e1ad4eec0dd3"}],"controllerServices":[],"variables":{"objects_folder":"ascll"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"d7e8ba97-2e27-39ea-b1b9-e653d75526e1"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"8a969e53-99ea-38c1-9991-4bb7f3b1d0b7","instanceIdentifier":"986a61d6-46f5-3446-81e3-8fe4ba4a4ea8","position":{"x":208.0,"y":-16.0},"label":"Objects folders","zIndex":0,"width":168.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d7e8ba97-2e27-39ea-b1b9-e653d75526e1"}],"funnels":[],"controllerServices":[],"variables":{"source_name":"mss"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"0aae6a0e-3ca5-3667-8e56-c68407427536"},{"identifier":"22a2411d-e4de-36eb-a9f9-0b01b79869dc","instanceIdentifier":"a5ce74ad-627d-3699-b9a0-d7d9d4f24d4b","name":"03_in_eric","comments":"","position":{"x":208.0,"y":472.0},"processGroups":[{"identifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","instanceIdentifier":"3953305e-84a5-1f09-9a68-0f2decd38cf2","name":"03_air","comments":"","position":{"x":208.0,"y":440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","instanceIdentifier":"39533061-84a5-1f09-a1ea-70b1a5434d7b","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"${file_path_base}/${source_name}/${objects_folder}","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"},{"identifier":"0515a9ed-4447-3131-8c95-a649dac0a216","instanceIdentifier":"39533062-84a5-1f09-989c-1437b651fc85","name":"CompressContent","comments":"","position":{"x":216.0,"y":200.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"39533060-84a5-1f09-5728-1396f76d18f8","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${objects_folder}${path}${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76e0347b-2bfd-372d-8e34-7eeca838b057","instanceIdentifier":"39533066-84a5-1f09-6e7b-99b5db13bcfc","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"CompressContent","comments":"","instanceIdentifier":"39533062-84a5-1f09-989c-1437b651fc85"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"PutS3Object","comments":"","instanceIdentifier":"39533060-84a5-1f09-5728-1396f76d18f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"39533065-84a5-1f09-d956-8a67d5a03389","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"PutS3Object","comments":"","instanceIdentifier":"39533060-84a5-1f09-5728-1396f76d18f8"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"Funnel","comments":"","instanceIdentifier":"3953305f-84a5-1f09-9196-2f504e1efae0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"},{"identifier":"5734419e-80c5-3f43-9ed8-cdcd88212512","instanceIdentifier":"39533064-84a5-1f09-e31a-68afea04d0d3","name":"","source":{"id":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"GetFile","comments":"","instanceIdentifier":"39533061-84a5-1f09-a1ea-70b1a5434d7b"},"destination":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"CompressContent","comments":"","instanceIdentifier":"39533062-84a5-1f09-989c-1437b651fc85"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"},{"identifier":"b8126b31-60e1-38e9-bf1e-f6efa995b294","instanceIdentifier":"39533063-84a5-1f09-8f28-b33f8b4f14cb","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"CompressContent","comments":"","instanceIdentifier":"39533062-84a5-1f09-989c-1437b651fc85"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6","name":"Funnel","comments":"","instanceIdentifier":"3953305f-84a5-1f09-9196-2f504e1efae0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"3953305f-84a5-1f09-9196-2f504e1efae0","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"20a9f35a-a6ca-3bcc-8a6d-34062a97a2e6"}],"controllerServices":[],"variables":{"objects_folder":"air"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"22a2411d-e4de-36eb-a9f9-0b01b79869dc"},{"identifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","instanceIdentifier":"39533054-84a5-1f09-9121-acd977f3dbdb","name":"02_ccn","comments":"","position":{"x":208.0,"y":232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","instanceIdentifier":"39533057-84a5-1f09-38f7-6ce42b05c4a6","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"${file_path_base}/${source_name}/${objects_folder}","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"39533058-84a5-1f09-294c-1cc1f822ff0b","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${objects_folder}${path}${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"},{"identifier":"0515a9ed-4447-3131-8c95-a649dac0a216","instanceIdentifier":"39533056-84a5-1f09-ade6-ee84911e0b7d","name":"CompressContent","comments":"","position":{"x":216.0,"y":200.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76e0347b-2bfd-372d-8e34-7eeca838b057","instanceIdentifier":"39533059-84a5-1f09-7664-779ffd34b84c","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"CompressContent","comments":"","instanceIdentifier":"39533056-84a5-1f09-ade6-ee84911e0b7d"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"PutS3Object","comments":"","instanceIdentifier":"39533058-84a5-1f09-294c-1cc1f822ff0b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"3953305a-84a5-1f09-e263-d981a43a0756","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"PutS3Object","comments":"","instanceIdentifier":"39533058-84a5-1f09-294c-1cc1f822ff0b"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"Funnel","comments":"","instanceIdentifier":"39533055-84a5-1f09-5efe-8668f07413e9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"},{"identifier":"5734419e-80c5-3f43-9ed8-cdcd88212512","instanceIdentifier":"3953305b-84a5-1f09-a579-cf1da7cceddd","name":"","source":{"id":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"GetFile","comments":"","instanceIdentifier":"39533057-84a5-1f09-38f7-6ce42b05c4a6"},"destination":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"CompressContent","comments":"","instanceIdentifier":"39533056-84a5-1f09-ade6-ee84911e0b7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"},{"identifier":"b8126b31-60e1-38e9-bf1e-f6efa995b294","instanceIdentifier":"3953305c-84a5-1f09-7029-a78e23dee913","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"CompressContent","comments":"","instanceIdentifier":"39533056-84a5-1f09-ade6-ee84911e0b7d"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5","name":"Funnel","comments":"","instanceIdentifier":"39533055-84a5-1f09-5efe-8668f07413e9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"39533055-84a5-1f09-5efe-8668f07413e9","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"33308f0a-047d-3dfd-a7fe-ab01ce96b4d5"}],"controllerServices":[],"variables":{"objects_folder":"ccn"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"22a2411d-e4de-36eb-a9f9-0b01b79869dc"},{"identifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc","instanceIdentifier":"39533049-84a5-1f09-ad04-3f50be676f19","name":"01_occ","comments":"","position":{"x":208.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","instanceIdentifier":"3953304b-84a5-1f09-d3f1-9797de828982","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"${file_path_base}/${source_name}/${objects_folder}","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"},{"identifier":"0515a9ed-4447-3131-8c95-a649dac0a216","instanceIdentifier":"3953304d-84a5-1f09-f9f7-12547eef8694","name":"CompressContent","comments":"","position":{"x":216.0,"y":200.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"3953304c-84a5-1f09-1e4d-771622fed819","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${objects_folder}${path}${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76e0347b-2bfd-372d-8e34-7eeca838b057","instanceIdentifier":"3953304e-84a5-1f09-ec28-66d280f3e35e","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"CompressContent","comments":"","instanceIdentifier":"3953304d-84a5-1f09-f9f7-12547eef8694"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"PutS3Object","comments":"","instanceIdentifier":"3953304c-84a5-1f09-1e4d-771622fed819"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"3953304f-84a5-1f09-066f-17b64a27dedc","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"PutS3Object","comments":"","instanceIdentifier":"3953304c-84a5-1f09-1e4d-771622fed819"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"Funnel","comments":"","instanceIdentifier":"3953304a-84a5-1f09-fea9-4fbb534efb73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"},{"identifier":"5734419e-80c5-3f43-9ed8-cdcd88212512","instanceIdentifier":"39533050-84a5-1f09-55cc-1dcb1c4424d0","name":"","source":{"id":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"GetFile","comments":"","instanceIdentifier":"3953304b-84a5-1f09-d3f1-9797de828982"},"destination":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"CompressContent","comments":"","instanceIdentifier":"3953304d-84a5-1f09-f9f7-12547eef8694"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"},{"identifier":"b8126b31-60e1-38e9-bf1e-f6efa995b294","instanceIdentifier":"39533051-84a5-1f09-de98-3d83def49e83","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"CompressContent","comments":"","instanceIdentifier":"3953304d-84a5-1f09-f9f7-12547eef8694"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"f621f50e-8079-37a9-9b04-a92bf460e6dc","name":"Funnel","comments":"","instanceIdentifier":"3953304a-84a5-1f09-fea9-4fbb534efb73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"3953304a-84a5-1f09-fea9-4fbb534efb73","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"f621f50e-8079-37a9-9b04-a92bf460e6dc"}],"controllerServices":[],"variables":{"objects_folder":"occ"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"22a2411d-e4de-36eb-a9f9-0b01b79869dc"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"8a969e53-99ea-38c1-9991-4bb7f3b1d0b7","instanceIdentifier":"769f3d98-380a-3af7-a110-6370e4a39fb1","position":{"x":208.0,"y":-16.0},"label":"Objects folders","zIndex":0,"width":168.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"22a2411d-e4de-36eb-a9f9-0b01b79869dc"}],"funnels":[],"controllerServices":[],"variables":{"source_name":"in_eric"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"0aae6a0e-3ca5-3667-8e56-c68407427536"},{"identifier":"7c13d836-8fa7-39ec-b793-7bb9359bac54","instanceIdentifier":"049e1e70-22e4-3358-7c10-38e325771814","name":"01_ps_core","comments":"","position":{"x":208.0,"y":72.0},"processGroups":[{"identifier":"25b23259-6b27-34a7-8e82-cb56422abed4","instanceIdentifier":"f5845775-4ac6-31a1-4778-181538b34841","name":"01_data_traffic_files","comments":"","position":{"x":208.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","instanceIdentifier":"4f7f470e-b87b-3ead-0264-728ee8ea35a8","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"${file_path_base}/${source_name}/${objects_folder}","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"7f0984a5-3953-3037-8138-4c2a88c07b19","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${objects_folder}${path}${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"0515a9ed-4447-3131-8c95-a649dac0a216","instanceIdentifier":"64d011e6-9fd1-3263-a522-3f017c7e0be1","name":"CompressContent","comments":"","position":{"x":216.0,"y":200.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"76e0347b-2bfd-372d-8e34-7eeca838b057","instanceIdentifier":"c0d47000-d7ff-3eab-1f5f-af7735c658e5","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"CompressContent","comments":"","instanceIdentifier":"64d011e6-9fd1-3263-a522-3f017c7e0be1"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"PutS3Object","comments":"","instanceIdentifier":"7f0984a5-3953-3037-8138-4c2a88c07b19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"cc560acc-9caf-3352-7ccc-e46cf1c4b805","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"PutS3Object","comments":"","instanceIdentifier":"7f0984a5-3953-3037-8138-4c2a88c07b19"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"Funnel","comments":"","instanceIdentifier":"4b7b5599-7cf2-3618-b7c1-6113ae5ce5ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"5734419e-80c5-3f43-9ed8-cdcd88212512","instanceIdentifier":"3994f1ca-c2b0-3f8e-d207-419eaddfb3d8","name":"","source":{"id":"5403c360-cb20-35ba-9a56-1a1b9ff17d39","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"GetFile","comments":"","instanceIdentifier":"4f7f470e-b87b-3ead-0264-728ee8ea35a8"},"destination":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"CompressContent","comments":"","instanceIdentifier":"64d011e6-9fd1-3263-a522-3f017c7e0be1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"b8126b31-60e1-38e9-bf1e-f6efa995b294","instanceIdentifier":"a0b42610-45c9-3ef5-5d65-583b50ce0a30","name":"","source":{"id":"0515a9ed-4447-3131-8c95-a649dac0a216","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"CompressContent","comments":"","instanceIdentifier":"64d011e6-9fd1-3263-a522-3f017c7e0be1"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"Funnel","comments":"","instanceIdentifier":"4b7b5599-7cf2-3618-b7c1-6113ae5ce5ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"4b7b5599-7cf2-3618-b7c1-6113ae5ce5ed","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"controllerServices":[],"variables":{"objects_folder":"ascll"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7c13d836-8fa7-39ec-b793-7bb9359bac54"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"8a969e53-99ea-38c1-9991-4bb7f3b1d0b7","instanceIdentifier":"a1f1db2f-688b-3e78-ef26-882f904b928e","position":{"x":208.0,"y":-16.0},"label":"Objects folders","zIndex":0,"width":168.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"7c13d836-8fa7-39ec-b793-7bb9359bac54"}],"funnels":[],"controllerServices":[],"variables":{"source_name":"pscore"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"0aae6a0e-3ca5-3667-8e56-c68407427536"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"324f05bb-b1ba-322f-a503-1f1a26909922","instanceIdentifier":"78b83f57-84ec-3dbd-cad5-0b4b9ac9be38","position":{"x":208.0,"y":8.0},"label":"Source names","zIndex":0,"width":192.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0aae6a0e-3ca5-3667-8e56-c68407427536"}],"funnels":[],"controllerServices":[],"variables":{"s3_load_type_source":"files","file_path_base":"/opt/nifi/sources"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1c382d36-49f8-3224-a9f4-0fa79e81f7af"},{"identifier":"07f6fea1-1a0f-3ae6-9b48-76a1a78be291","instanceIdentifier":"06b96c85-60d1-365e-59e1-ef54d28ddcdd","name":"02_source_data_bases_load","comments":"","position":{"x":224.0,"y":200.0},"processGroups":[{"identifier":"3ea349a3-a0bb-3169-84a2-a13423dcac74","instanceIdentifier":"86e735bc-3449-3bdd-41df-3f2a04e119a4","name":"01_bscs","comments":"","position":{"x":136.0,"y":-192.0},"processGroups":[{"identifier":"25b23259-6b27-34a7-8e82-cb56422abed4","instanceIdentifier":"53bd3903-002b-3747-dc26-80b643269499","name":"01_contract_all","comments":"","position":{"x":208.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cba402a0-6e58-3d61-843b-a0538448271b","instanceIdentifier":"75e35b85-1fe3-3563-421a-b76824d8b904","name":"ExecuteSQLRecord","comments":"","position":{"x":224.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"df65c9f1-7673-3b82-bf7c-7099d3bd290f","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d5b0bd8-d64f-3ed5-b99d-ef6a9ef49975","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"1000","esql-fetch-size":"0","SQL select query":"select * from ${object_table} \n","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"0343db40-1f21-3537-193d-cae4d974e436","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${object_table}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"acdf5d35-991d-32d1-a98f-fd3fcebe84ca","instanceIdentifier":"046b5bac-99c2-3e96-4482-11e565ad1a84","name":"UpdateAttribute","comments":"","position":{"x":128.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format('yyyyMMdd')}/${filename}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6df70390-d159-3b40-9dad-fe81fc470a40","instanceIdentifier":"a168a209-c0ed-389a-ffc8-ebbbfe5b41e8","name":"","source":{"id":"cba402a0-6e58-3d61-843b-a0538448271b","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"75e35b85-1fe3-3563-421a-b76824d8b904"},"destination":{"id":"acdf5d35-991d-32d1-a98f-fd3fcebe84ca","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"UpdateAttribute","comments":"","instanceIdentifier":"046b5bac-99c2-3e96-4482-11e565ad1a84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"46758015-13be-3732-ae1f-2adb033a8ecf","instanceIdentifier":"37ad25a0-8a3d-3994-0a18-0f49e024b70f","name":"","source":{"id":"acdf5d35-991d-32d1-a98f-fd3fcebe84ca","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"UpdateAttribute","comments":"","instanceIdentifier":"046b5bac-99c2-3e96-4482-11e565ad1a84"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"PutS3Object","comments":"","instanceIdentifier":"0343db40-1f21-3537-193d-cae4d974e436"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"58a3be2b-1055-3100-b7cc-17123150e022","instanceIdentifier":"bae1757e-8b9c-3101-4f47-0dda39c1ac07","name":"","source":{"id":"cba402a0-6e58-3d61-843b-a0538448271b","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"75e35b85-1fe3-3563-421a-b76824d8b904"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"Funnel","comments":"","instanceIdentifier":"bdd96373-bc6d-3b95-62f0-a0619ad1437c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"0610ae78-28e8-3bc2-bda4-cce0fc6e0636","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"PutS3Object","comments":"","instanceIdentifier":"0343db40-1f21-3537-193d-cae4d974e436"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"25b23259-6b27-34a7-8e82-cb56422abed4","name":"Funnel","comments":"","instanceIdentifier":"bdd96373-bc6d-3b95-62f0-a0619ad1437c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"bdd96373-bc6d-3b95-62f0-a0619ad1437c","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"25b23259-6b27-34a7-8e82-cb56422abed4"}],"controllerServices":[],"variables":{"object_table":"bscs_contract_all"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"3ea349a3-a0bb-3169-84a2-a13423dcac74"},{"identifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","instanceIdentifier":"0731b904-a823-3858-8c12-20432266588e","name":"01_contract_history","comments":"","position":{"x":208.0,"y":248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"88472bc0-7439-326d-8c6d-43808bcaae3c","instanceIdentifier":"937b86aa-4b86-3cc8-f2d9-cddc34dea6b6","name":"UpdateAttribute","comments":"","position":{"x":128.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format('yyyyMMdd')}/${filename}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"},{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"c4381445-6eec-3766-af37-35ddbd5e80eb","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${object_table}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"},{"identifier":"694c2071-9cc9-3668-bca6-edf84edfdf17","instanceIdentifier":"fc752ab1-9c3e-3a48-0a19-63fc08740775","name":"ExecuteSQLRecord","comments":"","position":{"x":224.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"df65c9f1-7673-3b82-bf7c-7099d3bd290f","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d5b0bd8-d64f-3ed5-b99d-ef6a9ef49975","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"1000","esql-fetch-size":"0","SQL select query":"select * from ${object_table} \n","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f8d31e00-6ae5-3868-b96f-4f535aa04cbc","instanceIdentifier":"5c249a75-608d-32e0-6ca0-27d22396f05a","name":"","source":{"id":"694c2071-9cc9-3668-bca6-edf84edfdf17","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"fc752ab1-9c3e-3a48-0a19-63fc08740775"},"destination":{"id":"88472bc0-7439-326d-8c6d-43808bcaae3c","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"UpdateAttribute","comments":"","instanceIdentifier":"937b86aa-4b86-3cc8-f2d9-cddc34dea6b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"},{"identifier":"793e913f-b616-3393-bcb8-5d1b54623bdd","instanceIdentifier":"10b902cc-f33e-37f4-dc93-dcc9e1ace19c","name":"","source":{"id":"694c2071-9cc9-3668-bca6-edf84edfdf17","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"fc752ab1-9c3e-3a48-0a19-63fc08740775"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"Funnel","comments":"","instanceIdentifier":"8fc75f1f-ae98-319a-e989-20b86c722456"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"},{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"0c98d99b-81ef-35b3-26ac-3f4a14b453dd","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"PutS3Object","comments":"","instanceIdentifier":"c4381445-6eec-3766-af37-35ddbd5e80eb"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"Funnel","comments":"","instanceIdentifier":"8fc75f1f-ae98-319a-e989-20b86c722456"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"},{"identifier":"90e506da-e89d-38d4-9691-d141e5acbe95","instanceIdentifier":"9d07ca4a-5734-3bdd-ac89-679a9de57f8a","name":"","source":{"id":"88472bc0-7439-326d-8c6d-43808bcaae3c","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"UpdateAttribute","comments":"","instanceIdentifier":"937b86aa-4b86-3cc8-f2d9-cddc34dea6b6"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7","name":"PutS3Object","comments":"","instanceIdentifier":"c4381445-6eec-3766-af37-35ddbd5e80eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"8fc75f1f-ae98-319a-e989-20b86c722456","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"ef8a6090-3cf8-3d92-9e11-2ca8060b72d7"}],"controllerServices":[],"variables":{"object_table":"bscs_contract_history"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"3ea349a3-a0bb-3169-84a2-a13423dcac74"},{"identifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","instanceIdentifier":"3953306b-84a5-1f09-ceae-b53fe66e58cd","name":"03_contr_services","comments":"","position":{"x":624.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0a67df90-195d-3329-8746-edea9918e1f8","instanceIdentifier":"3953306e-84a5-1f09-9879-393a3872e597","name":"PutS3Object","comments":"","position":{"x":224.0,"y":504.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"${s3_host_port}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${s3_load_type_source}/${source_name}/${object_table}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3_bucket_load}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"properties/credentials.properties","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"},{"identifier":"79877907-fffe-32bd-b880-6e67cfea0380","instanceIdentifier":"3953306f-84a5-1f09-17fb-12a18d84b16d","name":"ExecuteSQLRecord","comments":"","position":{"x":224.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"df65c9f1-7673-3b82-bf7c-7099d3bd290f","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d5b0bd8-d64f-3ed5-b99d-ef6a9ef49975","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"1000","esql-fetch-size":"0","SQL select query":"select * from ${object_table} \n","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"},{"identifier":"b33db6cb-7b34-3f89-ac8b-b9902b4085b6","instanceIdentifier":"3953306d-84a5-1f09-749c-9911ce498385","name":"UpdateAttribute","comments":"","position":{"x":128.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format('yyyyMMdd')}/${filename}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"742c156c-9614-3b99-826f-8b8914363804","instanceIdentifier":"39533073-84a5-1f09-f298-7fe764044dc9","name":"","source":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"PutS3Object","comments":"","instanceIdentifier":"3953306e-84a5-1f09-9879-393a3872e597"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"Funnel","comments":"","instanceIdentifier":"3953306c-84a5-1f09-76b1-774313653e30"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"},{"identifier":"7fcc1c6b-8b98-3345-a625-a7005dc53aff","instanceIdentifier":"39533070-84a5-1f09-18be-684b2ed15d44","name":"","source":{"id":"79877907-fffe-32bd-b880-6e67cfea0380","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"3953306f-84a5-1f09-17fb-12a18d84b16d"},"destination":{"id":"b33db6cb-7b34-3f89-ac8b-b9902b4085b6","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"UpdateAttribute","comments":"","instanceIdentifier":"3953306d-84a5-1f09-749c-9911ce498385"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"},{"identifier":"0eb36752-a35c-37d3-ae26-5d7b3bb71279","instanceIdentifier":"39533072-84a5-1f09-cbf9-b8bbd2c8bf3b","name":"","source":{"id":"79877907-fffe-32bd-b880-6e67cfea0380","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"3953306f-84a5-1f09-17fb-12a18d84b16d"},"destination":{"id":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","type":"FUNNEL","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"Funnel","comments":"","instanceIdentifier":"3953306c-84a5-1f09-76b1-774313653e30"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"},{"identifier":"a46fecd0-7293-3f56-8926-2ed5b11f3798","instanceIdentifier":"39533071-84a5-1f09-b598-d3a8bc7dff8b","name":"","source":{"id":"b33db6cb-7b34-3f89-ac8b-b9902b4085b6","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"UpdateAttribute","comments":"","instanceIdentifier":"3953306d-84a5-1f09-749c-9911ce498385"},"destination":{"id":"0a67df90-195d-3329-8746-edea9918e1f8","type":"PROCESSOR","groupId":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4","name":"PutS3Object","comments":"","instanceIdentifier":"3953306e-84a5-1f09-9879-393a3872e597"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"}],"labels":[],"funnels":[{"identifier":"a6f0da8a-e658-36b7-b7fd-b893589bff7a","instanceIdentifier":"3953306c-84a5-1f09-76b1-774313653e30","position":{"x":776.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"28dc0f9f-866a-3890-b01a-e3eaf0d3dcb4"}],"controllerServices":[],"variables":{"object_table":"bscs_customer_all"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"3ea349a3-a0bb-3169-84a2-a13423dcac74"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"8a969e53-99ea-38c1-9991-4bb7f3b1d0b7","instanceIdentifier":"b493fc1b-1815-3ec4-09aa-69da986f6b27","position":{"x":208.0,"y":-16.0},"label":"Objects tables","zIndex":0,"width":168.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3ea349a3-a0bb-3169-84a2-a13423dcac74"}],"funnels":[],"controllerServices":[],"variables":{"source_name":"bscs"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"07f6fea1-1a0f-3ae6-9b48-76a1a78be291"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"df65c9f1-7673-3b82-bf7c-7099d3bd290f","instanceIdentifier":"0da8d54d-9e18-3f14-c60b-b80fcb9e5e18","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"07f6fea1-1a0f-3ae6-9b48-76a1a78be291"},{"identifier":"5d5b0bd8-d64f-3ed5-b99d-ef6a9ef49975","instanceIdentifier":"cf6bd458-6c05-3dbf-f196-1b7f764795fc","name":"OracleEDW","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.24.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:oracle:thin:@192.168.41.5:1521:staging","dbcp-time-between-eviction-runs":"-1","Database User":"VDSSREP11","kerberos-user-service":null,"oracle.jdbc.timezoneAsRegion":"UTC","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/jdbc","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"oracle.jdbc.timezoneAsRegion":{"name":"oracle.jdbc.timezoneAsRegion","displayName":"oracle.jdbc.timezoneAsRegion","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"07f6fea1-1a0f-3ae6-9b48-76a1a78be291"}],"variables":{"s3_load_type_source":"database"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1c382d36-49f8-3224-a9f4-0fa79e81f7af"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{"s3_config_file_path":"/properties/credentials.properties","s3_host_port":"http://minio:9000","s3_bucket_load":"prd-landing-zone"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}